@charset "UTF-8";
    body {    

margin: 0;
padding: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
background-color: black;
}
.container{
	font-family: "Dancing Script", cursive;
font-weight: 900;
font-size: 20px;
text-align: center;
background: black;
color: plum;
padding: 10px;
border-radius: 10px;
box-shadow: 0px 0px 15px white;
width: 300px;
}
    table{
    border:none important!;
    }
.custom-heading{
	  font-family: "Raleway", cursive;
	font-style:italic;
  font-size: 32px;
  color:white;
  font-weight:800;
  margin-bottom: 30px;
}
.p{
  font-family: "Dancing Script", cursive;
  font-size: medium;
  text-align: center;
  font-weight: bold;
  color: red;
  text-shadow:
  1px 1px 2px black,
  0 0 1em rgb(217, 0, 255),
  0 0 0.2em rgb(205, 50, 156);

  margin: 0.1em 0;
  padding: 0.1em 0;
  font-size: 20px;
  font-weight: 900;
}
.p:hover{
    color: white;
  text-shadow:
  1px 1px 2px black,
  0 0 1em aqua,
  0 0 0.2em aquamarine;
}
a{
	text-decoration: none !important;
    margin: 20px;
}
.obj{
    display: inline;
    position: relative;
    color: paleturquoise;
    }
    
    
    