@charset "UTF-8";
body {    
font-family: "Dancing Script", cursive;
font-weight: 900;
font-size: 20px;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: black;
}
.container {
text-align: center;
background: white;
padding: 10px;
border-radius: 10px;
box-shadow: 0px 0px 15px white;
width: 300px;
}
a{
	text-decoration: none !important;
}
h1 {
margin-bottom: 20px;
color: black;
font-size: 1.8em;
font-weight: 900;
font-style: italic;
}
.form-group {
margin-bottom: 20px;
text-align: center;
}
.form-group label {
margin-left: 0  ;
margin-bottom: 5px;
font-size: 25px;
font-weight: 900;
font-style: italic;
color: black;
}
.form-group input {
height:20%;
width:50%;
margin-left: 10px;
padding: 10px;
font-size: 16px;
border: 2px solid darkgrey;
border-radius: 5px;
}
.btn-secondary {
font-family: Arial, sans-serif;
background-color:#aeaeae;
border-color: #6f6f6f;
color: black;
transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.btn-secondary:hover {
background-color:#505050;
border-color: #808080;
color: #fff;
}
.btn-info {
font-family: Arial, sans-serif;
background-color: #b2ebf2;
border-color: #4dd0e1;
color: black;
transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
position: relative;
margin-bottom: 20px;
}
.btn-info:hover {
background-color:#008080;
border-color: #80deea;
color: #fff;
}
.btn-success {
font-family: Arial, sans-serif;
background-color:#00FA9A;
border-color: #138808;
color: black;
transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.btn-success:hover {
background-color:#004830;
border-color: #4FFFB0;
color: #fff;
}