 @charset "UTF-8";
    *,
    *::before,
    *::after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    :root {
      --primary-color: hsl(9, 94%, 61%);
      --primary-color-alt: hsl(28, 72%, 83%);
      --second-color: #3e537c;
      --second-color-alt: hsla(220, 33%, 36%, 65%);
      --third-color: hsl(220, 36%, 28%);
      --white-color: #fbfbfb;
      --white-color-alt: hsl(12, 14%, 93%);
      --dark-color: transparent;
    }
    li {
      list-style: none;
    }
    .custom-heading {
      font-family: "Raleway", cursive;
      font-style:italic;
      font-size: 32px;
      color:white;
      font-weight:800;
    }
    #list {
      animation: Name 5s linear infinite;
    }
    @keyframes Name {
      0% { color: #6200ea; }
      20% { color: #00b0ff; }
      40% { color: #00e676; }
      60% { color: #ffea00; }
      80% { color: #ff3d00; }
      100% { color: #6200ea; }
    }
    .custom-th {
      color: blue;
      font-size: 22px;
    }
    i {
      font-size: 24px;
      color: green;
      margin: 10px;
      position: relative;
      top: 5px;
    }
    .material-symbols-rounded {
      font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 20;
    }
    body {
      font-family: "Raleway", sans-serif;
      font-size: large;
      color: white;
      background-image: url('/images/bookslist.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--dark-color);
      padding: 15px;
    }
    img {
      width: 100%;
      height: auto;
      position: relative;
    }
    .company-logo {
      position: relative;
      left: 50px;
      width: 50px;
      height: 50px;
      overflow: hidden;
    }
    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .item {
      margin: 0 1rem;
      position: relative;
		top: 8px;
		right:150px;
		margin-left:30px;
		margin-right:30px;
    }
    .link {
      font-size: 20px;
      letter-spacing: 2px;
      position: relative;
      background: -webkit-linear-gradient(var(--primary-color-alt), var(--primary-color));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .link::before {
      content: "";
      background: linear-gradient(var(--primary-color), var(--primary-color-alt));
      width: 100%;
      height: 0.05rem;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 500ms;
    }
    a {
      text-decoration: none !important;
    }
    table{
    border:none important!;
    }
    .link:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    .btn-primary {
      background-color: aqua;
      border-color: rgb(15, 113, 137);
      color: black;
      transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    }
    .btn-primary:hover {
      background-color: navy;
      border-color: blue;
      color: #fff;
    }
    .btn-danger {
      background-color: #ffa6a6;
      border-color: #d44848;
      color: black;
      transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    }
    .btn-danger:hover {
      background-color: #a50000;
      border-color: #ff3555;
      color: #fff;
    }
