@charset "UTF-8";
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
background: linear-gradient(to bottom, black, rgba(57, 35, 61, 0.8));
color: #6495ed;
font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none !important;
}
.custom-heading{
	  font-family: "Raleway", cursive;
	  font-style:italic;
  font-size: 32px;
  color:white;
  font-weight:800;
  margin-bottom: 20px;
}
.container{
max-width: 700px;
width: 100%;
background: rgba(0, 0, 0, 0.6);
border-radius: 0.5rem;
box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
0px 5px 12px -2px rgba(0, 0, 0, 0.1),
0px 18px 36px -6px rgba(0, 0, 0, 0.1);
}
.container .title{
padding: 10px;
background: black;
color: aqua;
display: flex;
justify-content: center;
}
.container .title p{
font-size: 25px;
font-weight: 500;
position: relative;
}
.container .title p::before{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 62px;
height: 3px;
background: linear-gradient(to right, #F37A65, #D64141);
}
.user_details{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 2px;
padding: 25px;
}
.user_details .input_box{
width: calc(100% / 2 - 20px);
margin: 0 0 12px 0;
}
.input_box label{
font-weight: 500;
margin-bottom: 5px;
display: block;
}
.input_box label::after{
content: " *";
color: red;
}
.input_box input{
width: 100%;
height: 35px;
border: none;
outline: none;
border-radius: 5px;
font-size: 16px;
padding-left: 15px;
box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
background-color: #f6f8fa;
font-family: 'Poppins', sans-serif;
transition: all 300ms ease-out 0s;
}
.input_box input:focus,
.input_box input:valid{
box-shadow: 0px 0px 0px 2px mediumseagreen;
}
.reg_btn{
padding: 25px;
margin: 5px 0;
}
.reg_btn .pen{
display: block;
height: 45px;
width: 100%;
border: none;
text-align: center;
cursor: pointer;
background: linear-gradient(to right, #F37A65, #D64141);
border-radius: 5px;
color: #ffffff;
letter-spacing: 3px;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.pone{
font-size: 18px;
font-weight: 400;
position: relative;
top: 13px;
}
.ptwo{
font-size: 18px;
font-weight: 400;
}
#b{
position: relative;
right:-9%;
height: 45px;
width: 45%;
border: none;
font-size: 18px;
font-weight: 500;
cursor: pointer;
background: linear-gradient(to right, #F37A65, #D64141);
border-radius: 5px;
color: #ffffff;
letter-spacing: 3px;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
#c{
height: 45px;
width: 45%;
border: none;
font-size: 18px;
font-weight: 500;
cursor: pointer;
background: linear-gradient(to right, #F37A65, #D64141);
border-radius: 5px;
color: #ffffff;
letter-spacing: 3px;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
::placeholder{
color: black;
}
.reg_btn .pen:hover{
background: linear-gradient(to right, #D64141, #F37A65);
}
.reg_btn #b:hover{
background: linear-gradient(to right, #D64141, #F37A65);
}
.reg_btn #c:hover{
background: linear-gradient(to right, #D64141, #F37A65);
}